*.a
*.o
*.exe
*.txt~
Debug
*ignore.txt
.DS_Store
.metadata
RemoteSystemsTempFiles
.settings
ACMachine/words_shuf.txt

ACMachine/test.log.gz

rstring/.settings/language.settings.xml

ACMachine/.settings/language.settings.xml
